<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.css">
</head>

<body>
    <form class="login">
        <h2>Welcome, User!</h2>
        <p>Please Register Your Account</p>
        <input type="text" placeholder="Full name" />
        <input type="email" placeholder="exmple@gmail.com" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Retype Password" />
        <input type="submit" value="Sign Up" />
        <div class="links">
            <a href="/login.html">sign in</a>
        </div>
    </form>
</body>

</html>