{% extends "includes/base.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/addroommate.css' %}">

<div class="container my-5">

    <h2 class="text-center my-3">Add Address</h2>

    <div class="p-4 border rounded shadow">
        <p class="mb-0 mb-1">Address Name:</p>
        <input type="text" class="form-control mb-3" placeholder="Enter Name">
        <label class="picture" for="picture__input" tabIndex="0">
            <span class="picture__image"></span>
        </label>

        <input type="file" name="picture__input" id="picture__input">

        <div>

        </div>

        <div class="shadow p-3 ">
            <p class="mb-0 mb-1">Attributes:</p>
            <div class="d-flex justify-content-between align-items-center mb-4 gap-3">
                <input type="text" class="form-control " placeholder="Enter Attribute">
                <div class="st"> 
                    <i class="fa-regular fa-star "></i>
                    <i class="fa-regular fa-star "></i>
                    <i class="fa-regular fa-star "></i>
                    <i class="fa-regular fa-star "></i>
                    <i class="fa-regular fa-star "></i>
                </div>
                <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
          
        </div>

        <button class="btn btn-warning mt-3">Add Attributes</button>

        <div class="text-end mt-5">
            <button class="btn btn-primary">submit</button>
        </div>

    </div>

</div>

{% endblock %}